@model LoginUser

<form class="d-flex flex-column align-items-start m-1 p-3 border rounded bg-light shadow" style="width: 17rem;"
        action="/users/login" method="post">
        <h3>Login</h3>

        <label class="mt-2 mb-0" for="LoginEmail">Email</label>
        <input asp-for="LoginEmail" value="johndoe@gmail.com">
        <span asp-validation-for="LoginEmail" class="text-danger"></span>

        <label class="mt-2 mb-0" for="LoginPassword">Password</label>
        <input asp-for="LoginPassword" value="Password1!">
        <span asp-validation-for="LoginPassword" class="text-danger"></span>

        <input type="submit" value="Enter" class="btn btn-success my-3 shadow-sm">


        <small class="text-muted">      <p class="m-0 p-0">Default:</p><ul>
                        <li>johndoe@gmail.com</li>
                        <li>Password1!</li>
                </ul>
        </small>




</form>